<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>
    <listener class-name="com.rsr.qa.testcases.Reporting" />

</listeners>
  <test thread-count="5" name="Test">
  
    <classes>
        <class name="com.rsr.qa.testcases.SignUpTest"/> 
        <class name="com.rsr.qa.testcases.SigninTest"/>
         <class name="com.rsr.qa.testcases.userinfopageTest"/>
         <class name="com.rsr.qa.testcases.ApplicationConfigurationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
